<div ng-init="noOfItemsToDisplay=5;threshold=700;">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Stock Quotation:
            </label>

            <div class="col-sm-8">
                <p class="form-control-static">
                    {{ quotation | currency: '¥ '}}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputRefreshInterval" class="col-sm-4 control-label">
                Refresh Interval:
            </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputRefreshInterval"
                       ng-model="refreshInterval"
                       ng-model-options="{debounce: 1000}"/>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-4">
            <div>
                <ng-radial-gauge data="gaugeData" />
            </div>
        </div>

        <div class="col-md-8">

            <div>
                <div class="input-group">
                    <input type="text"
                           ng-model="noOfItemsToDisplay"
                           readonly
                           class="form-control" aria-label="...">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Show Only
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a ng-click="noOfItemsToDisplay=5;">5 Items</a></li>
                            <li><a ng-click="noOfItemsToDisplay=10;">10 Items</a></li>
                            <li><a ng-click="noOfItemsToDisplay=50;">50 Items</a></li>
                            <li><a ng-click="noOfItemsToDisplay=null;">All</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <br/>

            <table class="table table-responsive table-condensed">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Quote</th>
                    <th>Health</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="historyItem in stockQuoteHistory | limitTo: noOfItemsToDisplay"
                    ng-class="{'healthy' : (historyItem.quotation | gsHealth: threshold) === true, 'not-healthy' : (historyItem.quotation | gsHealth: threshold) === false}">
                    <td> {{ historyItem.time | date: 'hh:mm:ss' }}</td>
                    <td> {{ historyItem.quotation | currency: '¥ '}}</td>
                    <td> {{ historyItem.quotation | gsHealth: threshold | gsStatus }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>